<table>
  <tr>
    <th>mentor</th>
  <% @slots_sat.each do |slot| %>
    <th><%= slot.start %></th>
  <% end %>
  </tr>
  <% @sat_logged_mentors.each do |mentor| %>
    <tr>
      <td><%= mentor.full_name %></td>
    <% @slots_sat.each do |slot_check| %>
      <td><%= slot_checker(@sat_sessions, mentor, slot_check) %></td>
    <% end %>
    </tr>
  <% end %> 
    <tr>
    <th><%= current_user.full_name %></th>
  <% @slots_sat.each do |slot| %>
    <% value = slot_checker(@sat_sessions, current_user, slot) %>
    <% if logged_in? %>
      <td><%= render partial: 'slots/signup_form', locals: { slot: slot }%></td>
    <% else %>
      <td><%= value %></td>
    <% end %>
  <% end %>
    </tr> 
</table>