<table>
  <tr>
    <th>mentor</th>
  <% @slots_sat.each do |slot| %>
    <th><%= slot.start %></th>
  <% end %>
  </tr>
  <% @sat_logged_mentors.each do |mentor| %>
    <tr>
      <td><%= mentor.full_name %></td>
    <% @slots_sat.each do |slot_check| %>
      <% value = slot_checker(@sat_sessions, mentor, slot_check) %>
      <% if value.class == Session %>
        <td><%= form_tag("/slots/#{value.id}", method: "PATCH") do %>
          <%= submit_tag("sign up")%>
          <% end %></td>
      <% elsif value == "x" %>
        <td><%= value %></td>
      <% else %>
        <td><%= link_to value.full_name, value %></td>
      <% end %>
    <% end %>
    </tr>
  <% end %> 
    <tr>
    <th><%= current_user.full_name %></th>
  <% @slots_sat.each do |slot| %>
    <% value = slot_checker(@sat_sessions, current_user, slot) %>
    <% if logged_in? %>
      <td><%= render partial: 'slots/signup_form', locals: { slot: slot }%></td>
    <% else %>
      <td><%= value %></td>
    <% end %>
  <% end %>
    </tr> 
</table>