<%= form_for @user do |f| %>
  <p><%= f.label(:full_name, "full name") %>
  <%= f.text_field :full_name %></p>
  <p><%= f.label(:email, "email") %>
  <%= f.email_field :email %></p>
  <p><%= f.label :avatar, "profile pic" %>
  <%= f.file_field :avatar %></p>
  <p><%= f.label(:phone_number, "phone number") %>
  <%= f.telephone_field :phone_number %></p>
  <p><%= f.label(:password, "password") %>
  <%= f.password_field :password %></p>
  <p><%= f.label(:password_confirmation, "confirmation") %>
  <%= f.password_field :password_confirmation %></p>
  <p><%= f.submit "register" %></p>
<% end %>
