<div id="index_page_links_div">
  <% if logged_in? %>
    <%= link_to(current_user.full_name, user_path(current_user.id), {:class => "index_page_link", :id => "profile_link"}) %>
    <%= link_to("log out", logout_path, { method: "delete", :class => "index_page_link" }) %>
  <% else %>
    <p id="register_link" class="index_page_link">register</p>
    <p id="login_link" class="index_page_link">log in</p>

    <%= render "sessions/login_form" %>
    <%= render "users/form" %>

    <% if @errors %>
  <ul>
    <li><%= @errors %></li>
<% end %>
  </ul>
  <% end %>
</div>

<div id="pear">
  <%= image_tag("pear.png") %>
</div>
