<div>
	<% if current_user.id == @user.id %>
		<h2>Welcome, <%= @user.full_name %>!</h2>
	<% else %>
		<h2><%= @user.full_name %></h2>
	<% end %>
</div>

<div class="profile-pic">
  <% if @user.avatar_file_name %>
    <%= image_tag @user.avatar.url(:square) %>
  <% else %>
	  <img src= "<%= @user.picture_link %>" >
  <% end %>
</div>

	<br><br><br>

<%= render "contact" %>

<%= render "sessions_display" %>
