<!DOCTYPE html>
<html>
  <head>
    <title>PearBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main_div">
      <div id="header_div">
        <h1><%= link_to("pear board", root_path)%></h1>
        <% if logged_in? %>
          <%= link_to("log out", logout_path, { method: "delete", :class => "index_page_link", :id => "log_out_button" }) %>
          <%= link_to(current_user.full_name, user_path(current_user.id), {:class => "index_page_link", :id => "profile_link"}) %>
        <% end %>
      </div>
        <%= yield %>
    </div>
  </body>
</html>
